.core-cont
{
    margin-top: 2.5vh;
    border-style: solid;
    border-width: 2px;
    padding: 3vh;
    overflow: hidden;
}

.bg-lightgrey {
    background-color: lightgrey;
}

.bg-grey {
    background-color: gray;
}

.bg-black {
    background-color: black;
}

.divRight {
    float: right;
    height: 100vh;
    width: 60%;
    background-color: #FBFFF1;
}

.divLeft {
    float: left;
    height: 100vh;
    width: 40%;
    background-color:#8BC7EC;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.divRight {
    padding-top: 10vh;
    padding-right: 15vw;
    padding-left: 6vw;
}

@media screen and (max-width: 600px) {
    .divLeft {
      width: 20%;
    }
}

.db-item {
    background-color: yellow;
    width: 20%;
    text-align: center;
}