body {
    background-color: #D9DCD6;
}

.core-cont
{
    margin-bottom: 2.5vh;
    border-style: solid;
    border-width: 2px;
    padding: 3vh;
    overflow: hidden;
}

.bg-lightgrey {
    background-color: lightgrey;
}

.bg-grey {
    background-color: gray;
}

.bg-black {
    background-color: black;
}

.bg-tertiary {
    background-color: #EDEFEC;
}

.bg-navBlue {
    background-color: #16425B;
}

.text-navBlue {
    color: #16425B;
}

.text-light-custom {
    color: rgba(255,255,255,.5);
}

.text-light2-custom {
    color: rgb(230, 230, 230);
}

.bg-leftBlue {
    background-color: #3A7CA5;
}

.text-leftBlue {
    color: #3A7CA5;
}

.divRight {
    float: right;
    height: 100vh;
    width: 60%;
    background-color: #D9DCD6;
}

.divLeft {
    float: left;
    height: 100vh;
    width: 40%;
    background-color: #3A7CA5;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.divRight {
    padding-top: 10vh;
    padding-right: 15vw;
    padding-left: 6vw;
}

@media screen and (max-width: 600px) {
    .divLeft {
      width: 20%;
    }
}

.db-item {
    background-color: yellow;
    width: 20%;
    text-align: center;
}

.outline {
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.scaleIcon {
    font-size: 2vh;
}

.scaleH1 {
    font-size: 3vw;
}

@media screen and (max-width: 600px) {
    .scaleH1 {
        font-size: 8vw;
    }
}

.scaleH4 {
    font-size: 3vh;
}

@media screen and (max-width: 600px) {
    body {
        text-align: center;
    }
}

.cardStyle {
    width: 23.75vh;
    display: inline-block;
    margin: 1vw;
    margin-bottom: 4vh;
}

@media screen and (max-width: 600px) {
   .cardStyle {
        width: 35vh;
        margin-bottom: 4vh;
    }
}

.d50m100 {
    width: 50%;
    margin: auto;
}

@media screen and (max-width: 600px) {
   .d50m100 {
        width: 100%;
    }
}

.day {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.week {
    border-style: solid;
    border-color: black;
    border-width: 4px;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

.infoComponent {
    border-style: solid;
    border-color: black;
    border-radius: 16px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding-top: 2vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;
}

.doublecol {
    columns: 2 auto;
}

    .margin-dash {
        margin-bottom: 1vh;
        margin-left: 0.5vw;
    }

@media screen and (max-width: 991px) {
   .doublecol {
        columns: 1 auto;
    }

    .dash-split {
        margin-left: 1vh;
    }
}
